.title{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.bar{
    padding: 10px;
    margin: 10px;
    width: 60%;
    height: 250px;
    margin-left: 20%;
}

.transaction{
    display: flex;
    justify-content: center;
    align-items: center;
}
